@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Overpass&display=swap");

:root {
  --grain: #d7cec7;
  --blackboard: #565656;
  --oxblood: #76323f;
  --tan: #c09f80;
}

::selection {
  background-color: gold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-size: 1.04rem;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

i {
  color: var(--blackboard);
}

body {
  min-width: 100%;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  background: url("https://media.discordapp.net/attachments/1085644871508971680/1103343395163885578/terryc_visual_effects_doodle_style_minimalistic_white_c3e62385-d02e-485b-b828-8d20e351f2c2.png?width=677&height=677");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -999;
}

header {
  background-color: white;
}

li {
  list-style: none;
}

a {
  color: var(--blackboard);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--oxblood);
}

.nav-item.commerce-action a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.commerce-action.wishlist a img {
  width: 20px;
  height: 20px;
}

.commerce-action.cart a img {
  width: 40px;
  height: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--blackboard);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

button {
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: gold;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

button.icon-button {
  border: none;
}

button.icon-button:hover {
  background-color: transparent;
  color: var(--blackboard);
}

input {
  border: 1px solid rgb(174, 174, 174);
  padding: 5px;
  border-radius: 4px;
}

.message-header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.375);
  color: white;
}

.message-header p {
  font-size: 0.8rem;
  padding: 5px;
}

section.hero {
  background: url("https://cdn.midjourney.com/c9be7a09-9c71-4161-aaef-591e59a7788b/grid_0.png");
  width: 100%;
  height: 270px;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  section.hero {
    height: 540px;
  }
}

section.categories,
section.about {
  margin: 2rem 0;
  padding: 10px;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .categories-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.category-button {
  width: 100%;
  background-color: var(--blackboard);
  border: white 1px solid;
  border-radius: 0;
  padding: 20px;
  box-shadow: 2px 0px 22px -3px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 2px 0px 22px -3px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 2px 0px 22px -3px rgba(0, 0, 0, 0.57);
}

.category-button a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.category-button.marvel {
  background-image: url("https://media.discordapp.net/attachments/1085644871508971680/1096826156403146883/ezgif.com-optimize_2.gif?width=625&height=260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.category-button.marvel a {
  color: white;
}

.category-button.dc a {
  color: black;
}

.category-button.anime a {
  color: purple;
}

.category-button.star-wars a {
  color: gold;
}

.category-button.anime {
  background-image: url("https://media.discordapp.net/attachments/1085644871508971680/1096826156784832512/ezgif.com-optimize_3.gif?width=600&height=333");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.category-button.dc {
  background-image: url("https://media.discordapp.net/attachments/1085644871508971680/1096829112296935465/ezgif.com-optimize_5.gif?width=625&height=352");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.category-button.star-wars {
  background-image: url("https://media.discordapp.net/attachments/1085644871508971680/1096829111852343316/ezgif.com-optimize_4.gif?width=625&height=263");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.category-button:hover {
  background-color: black;
}

.featured-new-container {
  margin: auto;
}

section.featured-products,
section.new-products {
  width: 100%;
  padding: 0 0.5rem;
  height: auto;
}

.product-scroller::-webkit-scrollbar {
  padding: 1rem;
  height: 1rem;
}

.product-scroller::-webkit-scrollbar-track {
  background-color: rgb(255, 238, 145);
  border-radius: 100vw;
}

.product-scroller::-webkit-scrollbar-thumb {
  background-color: gold;
  cursor: pointer;
  border-radius: 100vw;
}

.product-scroller {
  display: grid;
  margin: 0 2.5%;
  padding-bottom: 10px;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  grid-template-rows: min-content;
  overscroll-behavior-inline: contain;
}

.product-card {
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  aspect-ratio: 9 / 17;
  max-width: 100%;
  background-color: white;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 400px) {
  .product-card {
    aspect-ratio: 9/14;
    min-height: 300px;
  }
}

@media screen and (min-width: 700px) {
  .product-card {
    aspect-ratio: 9/14;
    min-height: 300px;
  }

  .product-scroller {
    grid-auto-columns: 25%;
  }
}

.product-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.add-to-wishlist {
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.add-to-wishlist i {
  margin-left: 0px;
  margin-top: 3px;
  color: red;
}

.product-label {
  position: absolute;
  top: 40%;
  left: 2.5%;
  background-color: red;
  padding: 2px 4px;
  color: white;
  text-transform: uppercase;
}

.product-name {
  font-weight: bold;
}

.product-desc {
  font-size: 0.9rem;
}

.product-price {
  margin-top: 6px;
  color: gold;
}

button.add-to-cart {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.see-more {
  margin: 10px auto;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.see-more i {
  color: white;
}

section.about {
  margin: 2rem;
}

section.about > p {
  text-align: justify;
}

@media only screen and (max-width: 700px) {
  .featured-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .featured-grid {
    grid-template-columns: 1fr;
  }
}
