@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Overpass&display=swap");

:root {
  --grain: #d7cec7;
  --blackboard: #565656;
  --oxblood: #76323f;
  --tan: #c09f80;
  --banana: rgb(252, 239, 169);
  --light-gray: rgb(233, 233, 233);
  --gray: rgb(212, 212, 212);
}

::selection {
  background-color: gold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-size: 1.04rem;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

i {
  color: var(--blackboard);
}

body {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  background: url("https://media.discordapp.net/attachments/1085644871508971680/1103343395163885578/terryc_visual_effects_doodle_style_minimalistic_white_c3e62385-d02e-485b-b828-8d20e351f2c2.png?width=677&height=677");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -999;
}

main {
  display: grid;
  margin: 10px auto;
  padding-inline: 1rem;
  gap: 1.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, 4);
  grid-template-areas: "profile-decor profile-decor" "username username" "personal-info address-info" "order-history order-history";
}

@media only screen and (min-width: 900px) {
  main {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 5);
    grid-template-areas: "profile-decor" "username" "personal-info" "address-info" "order-history";
  }
}

main > * {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  padding: 0.7rem;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
}

button {
  color: #fff;
  background-color: #ffd700;
  padding: 5px 10px;
  border: solid #ffd700 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 12px;
  transition: 375ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

button:hover {
  transition: 375ms;
  padding: 7px 12px;
  background-color: #fff;
  color: #ffd700;
  border: solid 1px #ffd700;
}

input {
  display: flex;
  width: 100%;
  border-radius: 5px;
  padding: 0.2rem;
  border: solid 1px var(--gray);
  outline: none;
  transition: box-shadow 0.25s;
  margin-bottom: 1rem;
}

input:focus {
  box-shadow: 0 0 2px var(--banana);
  border: 1px solid gold;
}

input::placeholder {
  color: rgb(94, 94, 94);
}

form > h2 {
  margin-bottom: 1rem;
}

form > label {
  font-size: 0.8rem;
}

form > button[type="reset"] {
  background-color: crimson;
  border: none;
}

button[type="reset"]:hover {
  transition: 375ms;
  padding: 7px 12px;
  background-color: #fff;
  color: crimson;
  border: solid 1px crimson;
}

form > button[type="submit"],
form > button[type="reset"] {
  display: flex;
  float: right;
  margin-left: 0.6rem;
}

.warning {
  font-size: 0.8rem;
  background-color: lightsalmon;
  color: black;
  padding: 0.4rem;
  border-radius: 5px;
  margin-top: -0.8rem;
  margin-bottom: 1rem;
}

.update {
  background-color: palegreen;
  display: none;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease;
}

.error {
  background-color: lightcoral;
  display: none;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.profile-decor {
  grid-area: profile-decor;
  background: url("https://media.discordapp.net/attachments/1085644871508971680/1097570295260389407/terryc_toys_doodle_style_yellow_8019458a-59bf-4e82-860d-49cb6ee8ac0c.png?width=677&height=677");
}

.logout-button {
  position: fixed;
  padding: 10px;
  right: 1rem;
  bottom: 1rem;
  color: #fff;
  background-color: crimson;
  border: none;
}

.logout-button:hover {
  background-color: #fff;
  color: crimson;
  border: solid 1px crimson;
}

.profile-decor svg {
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.788);
  border-radius: 100vw;
}

.username {
  grid-area: username;
}

.username-form.editable-form h1 {
  text-transform: none;
}

.username-form.editable-form > div {
  align-content: center;
  justify-content: space-between;
  display: flex;
}

.username-form.editable-form input {
  display: none;
}

.username-form.editable-form p {
  display: none;
}

.username-form.editable-form.show-input > div {
  display: block;
}

.username-form.editable-form.show-input input {
  display: block;
}

.username-form.editable-form.show-input p {
  color: red;
  font-size: 0.8rem;
  margin-top: -0.6rem;
  display: block;
}

.username-form.editable-form.show-input button[type="reset"] {
  display: flex;
}

.username-form.editable-form.show-input h1 {
  display: none;
}

.username-form.editable-form.show-input .edit-button {
  display: none;
}

.username-form.editable-form.edit-active button[type="submit"] {
  display: flex;
}

.username-form.editable-form.edit-active button[type="reset"] {
  display: flex;
}

.username-form.editable-form .edit-button {
  background-color: white;
  border: none;
}

.username-form.editable-form button[type="submit"] {
  display: none;
}

.username-form.editable-form button[type="reset"] {
  display: none;
}

.username-form.editable-form.edit-active h1 {
  display: none;
}

.username-form.editable-form.edit-active button.edit-button {
  display: none;
}

.editable-form button[type="submit"] {
  display: none;
}

.editable-form button[type="reset"] {
  display: none;
}

.editable-form.edit-active > button {
  display: block;
}

.personal-info {
  grid-area: personal-info;
}

.address-info {
  grid-area: address-info;
}

.order-history {
  grid-area: order-history;
  min-height: 100px;
}

.no-items {
  display: none;
  text-align: center;
  margin-top: 1rem;
}

.order-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 1px solid var(--gray);
  border-radius: 5px;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.order-card-head {
  background: var(--light-gray);
  padding: 0.2rem;
}

.order-card .order-num-label,
.order-card .order-date {
  font-size: 0.7rem;
  display: block;
}

.order-card .order-num-label {
  margin-bottom: -5px;
}

.order-card .order-date {
  margin-bottom: 5px;
}

.order-card .order-num {
  font-size: 1.5rem;
  font-weight: bold;
}

.order-card .order-items {
  list-style: none;
  margin: 0.5rem 1rem;
  overflow-y: auto;
  max-height: 200px;
}

.order-card .total-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--light-gray);
}

.total-label,
.total {
  font-weight: bold;
}

.scroller {
  margin: 1rem 0.5rem 0 0.5rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  list-style: none;
  padding-bottom: 10px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .scroller {
    grid-auto-columns: 35%;
  }
}

@media only screen and (max-width: 500px) {
  .scroller {
    grid-auto-columns: 75%;
  }
}

@media only screen and (max-width: 350px) {
  .scroller {
    grid-auto-columns: 85%;
  }
}

.scroller > li {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  padding: 1rem;
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  cursor: pointer;
  border-radius: 100vw;
}
