@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Overpass&display=swap");

:root {
  --grain: #d7cec7;
  --blackboard: #565656;
  --oxblood: #76323f;
  --tan: #c09f80;
  --banana: rgb(252, 239, 169);
  --light-gray: rgb(233, 233, 233);
  --gray: rgb(212, 212, 212);
}

::selection {
  background-color: gold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-size: 1.04rem;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

i {
  color: var(--blackboard);
}

body {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  background: url("https://media.discordapp.net/attachments/1085644871508971680/1103343395163885578/terryc_visual_effects_doodle_style_minimalistic_white_c3e62385-d02e-485b-b828-8d20e351f2c2.png?width=677&height=677");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -999;
}

main {
  margin: 0 auto;
  padding-inline: 1rem;
  gap: 0.7rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1.25fr 1fr 1.15fr;
  grid-template-rows: 0.5fr minmax(0, 2fr) repeat(auto, 9);
  grid-template-areas: "search search search" "categories sales sales" "brands brands news" "new new news" "featured featured news" "mini-figures mini-figures news" "Collectibles Collectibles news" "keychains keychains news" "home-decor home-decor news" "pins pins news" "toys toys news";
}

@media only screen and (min-width: 900px) {
  main {
    max-width: 1000px;
  }
}

main > * {
  background-color: white;
  border: 1px solid rgb(202, 202, 202);
  padding: 0.7rem;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
}

.search {
  grid-area: search;
}

.search {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 400px) {
  .search {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.search-form {
  width: 100%;
}

.searchbar {
  width: 100%;
  display: inline-flex;
}

.searchbar > input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid gold;
  outline: none;
  transition: box-shadow 0.25s;
  border-radius: 5px 0 0 5px;
}

.searchbar > input:focus {
  box-shadow: 0 0 2px var(--banana);
  border: 1px solid gold;
}

.searchbar > input::placeholder {
  color: rgb(94, 94, 94);
}

.searchbar > button {
  width: 40px;
  background: gold;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  user-select: none;
}

.searchbar > button > i {
  color: var(--blackboard);
}

.see-all {
  background-color: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}

.categories {
  grid-area: categories;
}

div > h2,
section > h2 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.categories > ul {
  list-style-type: none;
}

.categories > ul > li {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.categories > ul > li:nth-child(odd) {
  background-color: var(--gray);
  transition: 0.3s;
}

.categories > ul > li:nth-child(even) {
  background-color: var(--light-gray);
  transition: 0.3s;
}

.categories > ul > li:nth-child(odd):hover,
.categories > ul > li:nth-child(even):hover {
  background-color: white;
}

.categories > ul > li.new-category {
  background: rgb(246, 0, 8);
  background: linear-gradient(
    210deg,
    rgba(246, 0, 8, 1) 0%,
    rgba(255, 215, 0, 1) 100%
  );
}

.categories > ul > li.new-category * {
  color: white;
}

.categories > ul > li > a {
  text-decoration: none;
  color: black;
}

.promotions {
  padding: 0;
  grid-area: sales;
  max-width: 100%;
  position: relative;
  border: solid 1px black;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel-button {
  z-index: 2;
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-button > i {
  color: rgba(255, 255, 255, 0.5);
}

.carousel-button > i:hover {
  color: white;
}

.carousel-button.prev {
  left: 0.5rem;
}

.carousel-button.next {
  right: 0.5rem;
}

.promotional-slide {
  position: absolute;
  height: 100%;
  inset: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  transition-delay: 200ms;
}

.promotional-slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.promotion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.brands {
  grid-area: brands;
}

.brand-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card {
  text-align: center;
  position: relative;
  aspect-ratio: 3/4;
  width: 100%;
  height: auto;
  min-height: 350px;
  background-color: white;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .product-card > img {
    height: 125px;
  }

  .product-card {
    min-height: 300px;
  }
}

.product-card > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.add-to-wishlist {
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.add-to-wishlist i {
  margin-left: 0px;
  margin-top: 3px;
  color: red;
}

.product-label {
  position: absolute;
  top: 7rem;
  left: 0.2rem;
  background-color: red;
  padding: 2px 4px;
  color: white;
  text-transform: uppercase;
}

.product-name {
  font-weight: bold;
}

.product-desc {
  font-size: 0.9rem;
}

.product-price {
  margin-top: 6px;
  color: gold;
}

button.add-to-cart {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 0;
}

.new {
  grid-area: new;
  display: flex;
  flex-direction: column;
}

.featured {
  grid-area: featured;
}

.mini-figures {
  grid-area: mini-figures;
}

.Collectibles {
  grid-area: Collectibles;
}

.keychains {
  grid-area: keychains;
}

.home-decor {
  grid-area: home-decor;
}

.pins {
  grid-area: pins;
}

.toys {
  grid-area: toys;
}

.news {
  grid-area: news;
}

@media only screen and (max-width: 800px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-areas:
      "search"
      "categories"
      "sales"
      "brands"
      "new"
      "featured"
      "mini-figures"
      "Collectibles"
      "keychains"
      "home-decor"
      "pins"
      "toys"
      "news";
  }

  .carousel {
    aspect-ratio: 16/9;
  }

  .product-card > * {
    font-size: 1rem;
  }
}

button {
  padding: 5px 10px;
  border: none;
  background-color: gold;
  border-radius: 5px;
  cursor: pointer;
}

.scroller {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  list-style: none;
  padding-bottom: 10px;
  width: 100%;
}

.scroller > li {
  scroll-snap-align: start;
}

.scroller::-webkit-scrollbar {
  padding: 1rem;
  height: 0.5rem;
}

.scroller::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: 100vw;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  cursor: pointer;
  border-radius: 100vw;
}

.product-scroller {
  grid-auto-columns: 60%;
  padding-inline: 5px;
}

@media only screen and (min-width: 600px) {
  .product-scroller {
    grid-auto-columns: 35%;
  }
}

.footer-group {
  background-color: black;
}

section.social-media {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.social-media-group {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-media-group > a > i {
  color: white;
  cursor: pointer;
}

section.about {
  padding-top: 2rem;
  color: white;
}

section.about h2 {
  text-align: center;
}

section.about > p {
  margin-inline: 2rem;
  text-align: justify;
}

footer {
  padding: 2rem 2rem 0 2rem;
  color: white;
}

footer > hr {
  margin-bottom: 1rem;
}
